<table>
    {% for field in form %}
        <tr>
            <div class="form-group">
                <td>
                    <label>{{ field.label_tag }}</label> <br>
                </td>
                <td>
                    <div align="center">{{ field }}</div>
                </td>
                <td>
                    <span class="text-danger small">{{ field.errors }}</span>
                </td>
            </div>
        </tr>
    {% endfor %}
</table>
<br>
<button type="submit" class="btn btn-success">Submit</button>
