{% extends 'order/base.html' %}
{% block orders_active %}active{% endblock %}

{% block body %}
    <div class="albums-container container-fluid">

        {% if orders %}
            <div class="row">
                <div class="col-sm-12">
                    <h3>Orders</h3>
                </div>
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Creator User</th>
                                    <th>Creation Date</th>
                                    <th>Restaurant Name</th>
                                    <th>Menu URL</th>
                                    <th>Status</th>
                                    <th>Options</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>{{ order.creator.username }}</td>
                                        <td>{{ order.timestamp }}</td>
                                        <td>
                                            {% if order.status == '1' and user == order.creator %}
                                                <a href="{% url 'order:order_sum' order.id %}">{{ order.restaurant_name }}</a>
                                            {% else %}
                                                <a href="{% url 'order:main_order' order.id %}">{{ order.restaurant_name }}</a>
                                            {% endif %}
                                        </td>
                                        <td><a href="{{ order.menu_url }}">Menu</a></td>
                                        <td>
                                            {% if order.status == '0' %}
                                                Open
                                            {% elif order.status == '1' %}
                                                Pending
                                            {% elif order.status == '2' %}
                                                On Delivery
                                            {% elif order.status == '3' %}
                                                Delivered
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if user.id == order.creator.id %}
                                                <a href="{% url 'order:delete_order' order.id %}"
                                                   class="btn btn-default btn-sm btn-favorite" role="button">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            {% endif %}
                                            {% if order.status == '0' %}
                                                <a href="{% url 'order:edit_order' order.id %}"
                                                   class="btn btn-default btn-sm btn-favorite" role="button">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <br>
            <div align="center">
                There is no result to display
            </div>
        {% endif %}

    </div>
{% endblock %}
