{% extends 'order/base.html' %}
{% block title %}{{ order }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading" align="center">
                {{ order }} -
                {% if order.status == '0' %}
                    Open
                {% elif order.status == '1' %}
                    Pending
                {% elif order.status == '2' %}
                    On Delivery
                {% elif order.status == '3' %}
                    Delivered
                {% endif %}
            </div>
            {% if order.status == '2' %}
                <div align="center">
                    Ordered At : {{ order.ordered_at }}
                </div>
                <div align="center">
                    Delivery Time : {{ order.delivery_time }} minutes
                </div>
            {% endif %}
            <div align="center">
                <a href="{{ order.menu_url }}">menu</a>
            </div>
            <div class="panel-body">
                {% for key,v in order_detail.items %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ key.first_name }} {{ key.last_name }}
                            {% if user == key  and order.status == '0' %}
                                <a href="{% url 'order:user_order' order.id %}">edit</a>
                                <a href="{% url 'order:delete_user_order' order.id %}">delete</a>
                            {% endif %}
                            {% for user_id, cost in user_costs.items %}
                                {% if user_id == key.id %}
                                    <div align="right">
                                        Total Cost : {{ cost }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% for order in v %}
                            <div class="panel-body">{{ order.item_name }} - {{ order.quantity }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div align="center">
            {% if user not in order_detail.keys and order.status == '0' %}
                <a href="{% url 'order:create_user_item' order.id %}" class="btn btn-default btn-success" role="button">
                    Add Order
                </a>
            {% endif %}
            {% if user == order.creator and order.status == '0' %}
                <a href="{% url 'order:order_sum' order.id %}" class="btn btn-default btn-danger" role="button">
                    Order Now
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
