{% extends 'order/base.html' %}
{% block title %}{{ order }}{% endblock %}
{% block body %}
    <div class="container">
        <h1>Summation order from {{ order }}</h1>
        {% for key,v in order_details.items %}
            <div class="panel panel-default" align="center">
                <<h3> {{ key }} - {{ v }}</h3>
            </div>
        {% endfor %}
        <div>
            <form method="post" action="{% url 'order:order_sum_redirect' order.id %}">
                {% csrf_token %}
                <div class="row">
                    <div class="container form-group col-sm-4">
                        <label for="delivery_time" >delivery time in minutes :</label>
                        <input type="number" class="form-control" name="delivery_time" id="delivery_time">
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <button class=" col-md-2 col-md-offset-5 btn btn-danger" type="submit">waiting for delivery</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}